﻿@model dotnetherkansingnick.Models.ModelViews.MealAndIdToEdit

@{
    ViewBag.Title = "Maaltijd wijzigen";
}

<h2>Wijzig maaltijd</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <p>Gerecht naam: @Html.TextBoxFor(x => x.MealToEdit.MealName , new { @Value = Model.MealToEdit.MealName })</p>
    <p>Gerecht beschrijving: @Html.TextBoxFor(x => x.MealToEdit.MealDescription, new { @Value = Model.MealToEdit.MealDescription })</p>
    <p>Max aantal personen: @Html.TextBoxFor(x => x.MealToEdit.MaxStudentsForMeal, new { @Value = Model.MealToEdit.MaxStudentsForMeal })</p>
    <p>Prijs per student: @Html.TextBoxFor(x => x.MealToEdit.MealPrice, new { @Value = Model.MealToEdit.MealPrice })</p>
    @Html.TextBoxFor(x => x.TargetedMealId, new { style = "display: none;", @Value = Model.TargetedMealId })

    <input type="submit" , value="Wijzig maaltijd" />
}