﻿@using dotnetherkansingnick.Models;
@model dotnetherkansingnick.Models.Student

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @{
        Student LoggedIn = Model;
        string ToShow = String.Empty;
        if (LoggedIn != null)
        {
            ToShow = "Welkom terug, " + LoggedIn.StudentName + "!";
        }
        else
        {
            ToShow = "Welkom, gast!";
        }
        <h1 style="text-align: center;">@ToShow</h1>
    }
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Maak gerechten</h2>
        <p>
            StudentMeals is gemaakt door studenten, voor studenten. Ben je goed in de keuken en wil je deze kunsten met anderen delen? Dat kan! Voeg een gerecht toe en begin direct!
        </p>
        <p><button type="button" class="btn btn-default" onclick="location.href='@Url.Action("NewMeal", "Home")';return false;">Voeg maaltijd toe</button></p>
    </div>
    <div class="col-md-6">
        <h2>Schrijf je in voor gerechten</h2>
        <p>Geen zin om zelf eten te maken? Schrijf je in op gerechten van andere studenten tegen een klein bedrag!</p>
        <p><button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Meals", "Home")';return false;">Bekijk alle maaltijden</button></p>
    </div>
</div>