﻿@model dotnetherkansingnick.Models.Student


@{
    ViewBag.Title = "Inloggen";
}

<h2>Inloggen</h2>

@using (Html.BeginForm())
{
    <p>Email Adres: @Html.TextBoxFor(x => x.EmailAdress)</p>
    <p>Wachtwoord: @Html.PasswordFor(x => x.Password)</p>
    <input type="submit" , value="Log in" />
}