﻿@model dotnetherkansingnick.Models.ModelViews.MealAndCookAndJoined
@using dotnetherkansingnick.Models;

@{
    ViewBag.Title = "Meal";
}

<h2>@Model.TheMeal.MealName (@Model.TheMeal.MealDate.ToShortDateString())</h2>
@{
    <hr />
    <p>Gemaakt door: @Model.TheCook.StudentName</p>
    <p>Beschrijving: @Model.TheMeal.MealDescription</p>
    <p>Maximaal aantal personen: @Model.TheMeal.MaxStudentsForMeal</p>
    <p>Prijs per persoon: €@Model.TheMeal.MealPrice</p>

    <p>Ingeschreven studenten: </p>
    <ul>
        @foreach (Student Joined in Model.JoinedStudents)
        {
            <li>@Joined.StudentName (@Joined.PhoneNumber)</li>
        }
    </ul>

    Student CurrentlyLogged = (Student)Session["LoggedIn"];

    if (CurrentlyLogged != null)
    {
        if (Model.TheMeal.StudentsJoined.Contains("" + CurrentlyLogged.Id))
        {
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("LeaveMeal", "Home", new { MealId = Model.TheMeal.Id})';return false;">Schrijf jezelf uit voor maltijd</button>
        }
        else if (Model.TheMeal.MaxStudentsForMeal == Model.TheMeal.StudentsJoined.Split(',').Length && !Model.TheMeal.StudentsJoined.Split(',').GetValue(0).Equals(""))
        {
            <br />
            <p>Deze maaltijd is vol, je kan je helaas niet meer inschrijven.</p>
        }
        else if (Model.TheCook.Id != CurrentlyLogged.Id && !Model.TheMeal.StudentsJoined.Contains("" + CurrentlyLogged.Id))
        {
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("JoinMeal", "Home", new { MealId = Model.TheMeal.Id})';return false;">Schrijf jezelf in voor maltijd</button>
        }
    }
}

