﻿@model dotnetherkansingnick.Models.ModelViews.MealsWithCook
@using dotnetherkansingnick.Models;

@{
    ViewBag.Title = "Maaltijden";
}

<h2>Alle Maaltijden</h2>
<p>Alle maaltijden vinden om 18:00 plaats op de aangegeven datum.</p>
@{
    foreach (MealAndCook Current in Model.TheMealsWithCook)
    {
        DateTime CurrentDateTime = Current.TheMeal.MealDate;
        <hr />
        <h3>@Current.TheMeal.MealName (@CurrentDateTime.Day-@CurrentDateTime.Month-@CurrentDateTime.Year)</h3>
        <p>Gemaakt door: @Current.TheCook.StudentName</p>
        <p>Beschrijving: @Current.TheMeal.MealDescription</p>
        <p>Maximaal aantal personen: @Current.TheMeal.MaxStudentsForMeal</p>
        <p>Prijs per persoon: €@Current.TheMeal.MealPrice</p>

        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Meal", "Home", new { MealId = Current.TheMeal.Id})';return false;">Bekijk maaltijd</button>
    }
}

