﻿@model dotnetherkansingnick.Models.ModelViews.AllMealsFromCook
@using dotnetherkansingnick.Models;

@{
    ViewBag.Title = "Mijn maaltijden";
}

<h2>Mijn maaltijden</h2>
@{
    foreach (Meal Current in Model.AllMealsFromTheCook)
    {
        DateTime CurrentDateTime = Current.MealDate;
        int JoinedCount = Current.StudentsJoined.Split(',').GetValue(0).Equals("") ? 0 : Current.StudentsJoined.Split(',').Length;
        <hr />
        <h3>@Current.MealName (@CurrentDateTime.Day-@CurrentDateTime.Month-@CurrentDateTime.Year)</h3>
        <p>Beschrijving: @Current.MealDescription</p>
        <p>Maximaal aantal personen: @Current.MaxStudentsForMeal</p>
        <p>Prijs per persoon: €@Current.MealPrice</p>
        <p>Aantal inschrijvingen: @JoinedCount (@(Current.MaxStudentsForMeal - JoinedCount) plekken over)</p>

        if (Current.StudentsJoined.Split(',').GetValue(0).Equals(""))
        {
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("EditMeal", "Home", new { MealId = Current.Id})';return false;">Wijzig maaltijd</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteMeal", "Home", new { MealId = Current.Id})';return false;">Verwijder maaltijd</button>
        }
    }
}

