﻿@model dotnetherkansingnick.Models.ModelViews.MealAndDateResponse

@{
    ViewBag.Title = "NewMeal";
}

<h2>Nieuwe maaltijd</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <p>Gerecht naam: @Html.TextBoxFor(x => x.MealName)</p>
    <p>Gerecht beschrijving: @Html.TextBoxFor(x => x.MealDescription)</p>
    <p>Max aantal personen: @Html.TextBoxFor(x => x.MaxStudentsForMeal)</p>
    <p>Prijs per student: @Html.TextBoxFor(x => x.MealPrice)</p>
    <p>Datum: @Html.TextBoxFor(x => x.RawDateTime)</p>

    <input type="submit" , value="Voeg maaltijd toe" />
}

