﻿@model dotnetherkansingnick.Models.Student


@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <p>Naam: @Html.TextBoxFor(x => x.StudentName)</p>
    <p>Email Adres: @Html.TextBoxFor(x => x.EmailAdress)</p>
    <p>Telefoon nummer: @Html.TextBoxFor(x => x.PhoneNumber)</p>
    <p>Wachtwoord: @Html.PasswordFor(x => x.Password)</p>
    <input type="submit" , value="Register" />
}