﻿@using dotnetherkansingnick.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("StudentMeals", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bekijk maaltijden", "Meals", "Home")</li>
                    @{ 
                        Student LoggedIn = (Student)Session["LoggedIn"];
                        if (LoggedIn != null)
                        {
                            <li>@Html.ActionLink("Voeg maaltijd toe", "NewMeal", "Home")</li>
                            <li>@Html.ActionLink("Mijn maaltijden", "MyMeals", "Home")</li>
                            <li>@Html.ActionLink("Log uit", "LogOut", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Word lid", "Register", "Home")</li>
                            <li>@Html.ActionLink("Log in", "Login", "Home")</li>
                        }
                    }
                </ul>
                @{Html.RenderAction("ShowMealTodayPartial", "Home");}
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nick Kunnert (2095814)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
