﻿@model dotnetherkansingnick.Models.Meal

<style>
    a {
        color: #999999;
    }
    a:hover{
        color: white;
    }
</style>

@if(Model != null)
{
    <p style="text-align: right;"><strong>@Html.ActionLink("Maaltijd vandaag:", "Meal", "Home", new { MealId = Model.Id }, null)</strong></p>
}
else
{
    <p style="text-align: right; color: #999999;"><strong>Maaltijd vandaag:</strong></p>
}

@{
    string ToShow = String.Empty;

    if (Model == null)
    {
        ToShow = "Geen maaltijd voor vandaag";
    }
    else if (Model != null)
    {
        if (!Model.StudentsJoined.Split(',').GetValue(0).Equals(""))
        {
            ToShow = "Aantal gasten: " + Model.StudentsJoined.Split(',').Length;
        }
        else
        {
            ToShow = "Aantal gasten: 0";
        }

    }
    <p style="text-align: right; color: #999999;">@ToShow</p>
}


